.SearchResults {
  position: relative;
  overflow: hidden;
  height: 80%;
  height: calc(100vh - #{$header-height-small});

  @include respond-above("medium") {
    min-height: 480px;
    height: calc(100vh - #{$header-height-large});
  }

  .no-js & {
    height: auto !important;
  }

  .iDevice & {
    // Avoid content being hidden by Safari's button bar
    height: calc(100vh - #{$header-height-small} - 70px);
  }

}

.SearchResults-map {
  // Reset the z-index stack for embedded map
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;

  @include respond-above("medium") {
    width: 50%;
  }

  @include respond-above("large") {
    width: 70%;
  }

  .no-js & {
    display: none !important;
  }

}

.SearchResults-results {
  @extend %base-shadow-low;

  @include respond-above("medium") {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 100%;
    overflow: auto;
  }

  @include respond-above("large") {
    width: 30%;
  }

  .no-js & {
    display: static !important;
  }

}

.SearchResults-toggle,
.SearchResults-content {
  background: white;
}

.SearchResults-toggle {
  padding: $base-padding-small;
  border-bottom: 1px solid $palette-gray-20;

  &.is-active {
    background: $palette-gray-05;
  }

}

.SearchResults-content {
  @extend %base-padding;
}

.SearchResults-list {
  margin-left: 0;
  padding-left: 0;
}

.SearchResults-item {
  display: block;
  overflow: hidden;
  border-top: 1px solid $palette-gray-20;
  padding: base-padding("top") 0;

  &:first-child {
    border-top: 0;
  }

}

.SearchResults-itemLink {
  text-decoration: none;
  color: inherit;

  :hover > &,
  .is-active > & {
    color: $palette-hl-cyan;
  }

}

.SearchResults-itemCompass {
  float: right;
  margin-left: base-margin("left");
}

.SearchResults-itemHeading {
  text-decoration: underline;
  color: $palette-hl-cyan;
}

.SearchResults-itemAddress {
  font-style: normal;
}
