.VenueShow-details {

  @include respond-above("small") {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
  }

}

.VenueShow-detail {
  text-align: center;

  @include respond-above("small") {
    -webkit-flex: 1 auto;
    flex: 1 auto;
  }

}

.VenueShow-detail--address {}

.VenueShow-detail--hours {

  @include respond-above("small") {
    -webkit-flex: 1 100%;
    flex: 1 100%;
    -webkit-order: 1;
    order: 1;
  }

  @include respond-above("medium") {
    -webkit-flex: 1 auto;
    flex: 1 auto;
    -webkit-order: 0;
    order: 0;
  }

}

.VenueShow-detail--info {}

.VenueShow-address {
  font-style: normal;
}

.VenueShow-infoList {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.VenueShow-map {
  position: relative;
  z-index: 0;
  height: 360px;
  max-height: 50vh;
}
