.VenueShow {
  @extend %base-padding;
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
  text-align: center;
}

.VenueShow-detail,
.VenueShow-heading {
  margin-bottom: base-margin("bottom");

  @include respond-above("large") {
    margin-bottom: base-margin("bottom");
  }

}

.VenueShow-detailList {
  display: flex;
  flex-wrap: wrap;
}

.VenueShow-detail {
  box-sizing: border-box;
  width: 100%;
  order: 0;
}

.VenueShow-detail--map,
.VenueShow-detail--gallery {

  @include respond-above("medium") {
    padding-right: base-padding("right");
    padding-left: base-padding("left");
    flex: 1 50%;
  }

}

.VenueShow-detail--map {
  order: 1;

  @include respond-above("medium") {
    order: 0;
  }

}

.VenueShow-detail--hours,
.VenueShow-detail--location {

  @include respond-above("small") {
    flex: 1 50%;
  }

}

.VenueShow-detail--info {

  @include respond-above("small") {
    flex: 1 100%;
  }

}

.VenueShow-detail--info,
.VenueShow-detail--hours,
.VenueShow-detail--location {

  @include respond-above("medium") {
    flex: 1 32%;
  }

}

.VenueShow-mapContainer {
  position: relative;
  z-index: 0;
}

.VenueShow-address {
  font-style: normal;
}

.VenueShow-infoList {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.VenueShow-stationRoundel {
  margin-right: 0.5em;
  vertical-align: middle;
}
