// Highlights palette
$palette-hl-gold:     #D6A73F;
$palette-hl-peacoat:  #12495D;

// Grayscale palette
$palette-gray-80:     #333;
$palette-gray-60:     #666;
$palette-gray-40:     #999;
$palette-gray-20:     #CCC;
$palette-gray-05:     #F2F2F2;

// Notice colors
$palette-notice-error:   #D9534F;
$palette-notice-warning: #F0AD4E;
$palette-notice-success: #5Cb85C;

// Base colors
$base-text-color:       $palette-gray-80;
$base-accent-color:     $palette-hl-gold;
$base-border-color:     $palette-gray-60;
$base-background-color: $palette-gray-05;
