// Color palette
$palette-gold:        #D6A73F;
$palette-dark-gray:   #3E4147;
$palette-mid-gray:    #64666B;
$palette-light-gray:  #838488;
$palette-peacoat:     #12495D;

// Base colors
$base-text-color:       $palette-dark-gray;
$base-accent-color:     $palette-gold;
$base-border-color:     $palette-mid-gray;
$base-background-color: white;
