// Highlights palette
$palette-hl-gold: #D6A73F;
$palette-hl-cyan: #00BBB3;
$palette-hl-aqua: #006464;

// Grayscale palette
$palette-gray-80: #333;
$palette-gray-60: #666;
$palette-gray-40: #999;
$palette-gray-20: #CCC;
$palette-gray-05: #F2F2F2;

// Notice colors
$palette-notice-error:   #D9534F;
$palette-notice-warning: #F0AD4E;
$palette-notice-success: #5Cb85C;
