// Layout container sizing
$layout-min-width:    300px;
$layout-max-width:    1600px;

// Header height
$header-height-small: 62px;
$header-height-large: 78px;

// Base margins and padding
$base-margins: (
  'small': 16px 10px,
  'medium': 24px 20px,
  'large': 36px 40px
);

$base-padding: (
  'small': 12px,
  'medium': 18px 20px,
  'large': 36px 40px
);
