// Layout container sizing
$layout-min-width:    300px;
$layout-max-width:    1600px;

// Base margins and padding
$base-margin:         0 20px 24px;
$base-margin-small:   0 10px 12px;
$base-padding:        12px 20px;
$base-padding-small:  8px 16px;
