.SiteHeader {
  position: relative;

  + * {
    // IE10 doesn't recognise the main element
    display: block;
  }

}

.SiteHeader-nav,
.SiteHeader-searchPanel {
  border-bottom: 2px solid;
  background: white;
}

.SiteHeader-nav {
  @extend %base-shadow-low;
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: map-get($base-padding, 'small');

  @include respond-above("medium") {
    padding: map-get($base-padding, 'medium');
  }

}

.SiteHeader-name {
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.SiteHeader-searchToggle {
  border: 0;
  padding: 6px;
  background: none;

  &::after {
    display: block;
    font-size: 24px;

    @include respond-above("medium") {
      font-size: 32px;
    }

  }

}

.SiteHeader-searchPanel {
  @extend %base-padding;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;

  // This mask covers any bleed-through caused by animation easing
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 60px;
    background: white;
  }

  &.is-open {
    @extend %base-shadow-low;
    animation: slideOut .6s $ease-out-back forwards;
  }

  &.is-closed {
    animation: slideIn .6s $ease-in-back;
  }


  // The panel will display above the header when the document is
  // scrolled past its boundary on iOS Safari so it needs to be
  // hidden without using display: none which prevents transitions.
  left: -9999px;

  &.is-open,
  &.is-animating {
    left: 0;
  }

}
