* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 1px dotted;
  outline-offset: 1px;
}

body {
  @extend %base-font;
  margin: 0;
  background: white;
  padding: 0;
  color: $palette-gray-80;
}

a {
  text-decoration: underline;
  color: $palette-hl-cyan;
  transition: color 0.25s;

  &:hover {
    color: $palette-hl-aqua;
  }

}
