* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 1px dotted;
  outline-offset: 1px;
}

html {
  font-size: $root-font-size;
}

body {
  @extend %base-font;
  margin: 0;
  background: $base-background-color;
  padding: 0;
  color: $base-text-color;
}

a {
  text-decoration: underline;
  color: $base-accent-color;
}
