ul,
ol,
dl,
pre,
blockquote {
  margin-left: base-margin("left");
}

ul,
ol {
  padding-left: base-padding("left");
}

hr {
  border: 0;
  background: $palette-gray-80;
  padding: 0;
  height: 2px;
}
