// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.t-heading {
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h5,
h6,
.t-heading.t-base {
  text-transform: uppercase;
}


// Text sizing
h1,
.t-mega {
  @include responsive-text-size("mega");
}

h2,
.t-kilo {
  @include responsive-text-size("kilo");
}

h3,
.t-hecto {
  @include responsive-text-size("hecto");
}

h4,
.t-deca {
  @include responsive-text-size("deca");
}

h5,
h6,
body,
.t-base {
  @include responsive-text-size("base");
}

.t-deci {
  @include responsive-text-size("deci");
}

small,
.t-centi {
  @include responsive-text-size("centi");
}

// Text alignment
.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}
