// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.text--heading {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

// Text sizing
h1,
.text--mega {
  @include responsive-text-size("mega");
}

h2,
.text--kilo {
  @include responsive-text-size("kilo");
}

h3,
.text--hecto {
  @include responsive-text-size("hecto");
}

h4,
.text--deca {
  @include responsive-text-size("deca");
}

h5,
h6,
body,
.text--base {
  @include responsive-text-size("deca");
}

.text--deci {
  @include responsive-text-size("deci");
}

small,
.text--centi {
  @include responsive-text-size("centi");
}

// Text alignment
.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--justify {
  text-align: justify;
}
