default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: craft_beer_london_development

test:
  <<: *default
  database: craft_beer_london_test

production:
  <<: *default
  database: craft_beer_london
