.AspectRatio {
  position: relative;
}

.AspectRatio--1x1 {
  padding-top: 100%;
}

.AspectRatio--4x3 {
  padding-top: 75%;
}

.AspectRatio--3x2 {
  padding-top: 66.66%;
}

.AspectRatio--16x9 {
  padding-top: 56.25%;
}

.AspectRatio--2x1 {
  padding-top: 50%;
}

.AspectRatio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $palette-gray-20;
}
