.Button {
  @extend %base-input;
  display: inline-block;
  transition: color 0.25s, background 0.25s, border 0.25s;
  background-color: transparent;
  text-decoration: none;

  &::-moz-focus-inner {
      border: 0;
      padding: 0;
  }

  &:active {
    @extend %base-shadow-inset;
  }

}

.Button--fill {
  width: 100%;
}

.Button--aqua {
  border-color: $palette-hl-aqua;
  border-bottom-color: darken($palette-hl-aqua, 5%);
  background-color: $palette-hl-aqua;
  color: white;

  &:hover,
  &:active {
    border-color: darken($palette-hl-aqua, 5%);
    background-color: darken($palette-hl-aqua, 5%);
  }

}
