.Button {
  @extend %base-input;
  display: inline-block;
  transition: color 0.25s, background 0.25s, border 0.25s;
  background-color: transparent;
  white-space: nowrap;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

}

.Button--fill {
  width: 100%;
}

.Button--aqua {
  border-color: $palette-hl-aqua;
  border-bottom-color: darken($palette-hl-aqua, 5%);
  background-color: $palette-hl-aqua;
  color: white;

  &:hover {
    border-color: lighten($palette-hl-aqua, 2.5%);
    border-bottom-color: darken($palette-hl-aqua, 5%);
    background-color: lighten($palette-hl-aqua, 2.5%);
  }

  &:active {
    border-color: darken($palette-hl-aqua, 5%);
    border-top-color: darken($palette-hl-aqua, 7.5%);
    background-color: darken($palette-hl-aqua, 5%);
  }

}
