.Button {
  @extend %base-input;
  display: inline-block;
  transition: color 0.25s, background 0.25s, border 0.25s;
  background: none;
  text-decoration: none;

  &::-moz-focus-inner {
      border: 0;
      padding: 0;
  }

  &:hover,
  &:active {
    color: $palette-dark-gray;
  }

  &:active {
    @extend %base-shadow-inset;
  }

}

.Button--fill {
  display: block;
  width: 100%;
  text-align: center;
}
