.ContentArea {
  > * + * {
    margin-top: rem(base-margin("bottom"));
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: rem(base-margin("bottom") / 3);
  }
}

.ContentArea--readable {
  max-width: 32em;
  margin-right: auto;
  margin-left: auto;
}
