.DraggablePanel {

  &.is-draggable {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: top .5s $ease-out-back;
    will-change: top;
  }

  &.is-open {
    top: 0;
  }

  &.is-closed {
    top: 80%;
    top: calc(100% - 46px);
  }

  &.is-active {
    transition: none;
  }

}

.DraggablePanel-toggle {
  display: none;
  margin-bottom: base-margin("bottom");
  padding: $base-padding-small;
  border-bottom: 1px solid $palette-gray-20;

  .is-draggable & {
    display: block;
  }

  .is-active & {
    background: $palette-gray-05;
  }

}

.DraggablePanel-toggleOpen,
.DraggablePanel-toggleClosed,
.DraggablePanel-toggleActive {
  display: none;
  overflow: hidden;

  .Icon::after {
    float: right;
  }

}

.DraggablePanel-toggleOpen {

  .is-open & {
    display: block;
  }

}

.DraggablePanel-toggleClosed {

  .is-closed & {
    display: block;
  }

}


.DraggablePanel-toggleActive {

  .is-active & {
    display: block;
  }

}
