.DraggablePanel {

  &.is-draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .5s $ease-out-back;
    will-change: transform;
  }

  &.is-closed {
    overflow: hidden;
    transform: translateY(80%);
    transform: translateY(calc(100% - 46px));
  }

  &.is-open {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &.is-active {
    transition: none;
  }

}

.DraggablePanel-toggle {
  display: none;
  margin-bottom: base-margin("bottom", "small");
  padding: $base-padding-small;
  border-bottom: 1px solid $palette-gray-20;

  .is-draggable & {
    display: block;
  }

  .is-active & {
    background: $palette-gray-05;
  }

}

.DraggablePanel-toggleOpen,
.DraggablePanel-toggleClosed,
.DraggablePanel-toggleActive {
  display: none;
  overflow: hidden;

  .Icon::after {
    float: right;
  }

}

.DraggablePanel-toggleOpen {

  .is-open & {
    display: block;
  }

}

.DraggablePanel-toggleClosed {

  .is-closed & {
    display: block;
  }

}


.DraggablePanel-toggleActive {

  .is-active & {
    display: block;
  }

}
