.Figure {
  position: relative;
}

.Figure--4x3 {
  padding-top: 75%;
}

.Figure--16x9 {
  padding-top: 56.25%;
}

.Figure-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Figure-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba($palette-gray-80, .75) 0, rgba($palette-gray-80, 0) 100%);
  padding: $base-padding;
  padding-top: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}
