.Gallery-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 28px;
  transition: background 0.25s;

  .Icon {
    position: absolute;
    top: 10px;
    left: 10px;
    filter: drop-shadow($base-shadow-low);
  }

  &:hover {
    background: rgba($palette-gray-80, 0.5);
  }

}
