.Icon::after {
  content: "";
  display: inline-block;
  background: url(image_path("sprites.svg")) no-repeat;
  // Size background vertically, each row of icons is 100%
  background-size: auto 200%;
  width: 1em;
  height: 1em;
}

.Icon--text::after {
  position: relative;
  top: 0.25em;
  margin-left: 16px;
}

.Icon--search::after {

  // Firefox does not support background-position-x/background-position-y =(
  &::after {
    background-position: 0 0;
  }

  &.Icon--white::after {
    background-position: 0 -1em;
  }

}

.Icon--address {

  &::after {
    background-position: -1em 0;
  }

  &.Icon--white::after {
    background-position: -1em -1em;
  }

}

.Icon--position {

  &::after {
    background-position: -2em 0;
  }

  &.Icon--white::after {
    background-position: -2em -1em;
  }

}

.Icon--left {

  &::after {
    background-position: -3em 0;
  }

  &.Icon--white::after {
    background-position: -3em -1em;
  }

}

.Icon--right {

  &::after {
    background-position: -4em 0;
  }

  &.Icon--white::after {
    background-position: -4em -1em;
  }

}

.Icon--up {

  &::after {
    background-position: -5em 0;
  }

  &.Icon--white::after {
    background-position: -5em -1em;
  }

}

.Icon--down {

  &::after {
    background-position: -6em 0;
  }

  &.Icon--white::after {
    background-position: -6em -1em;
  }

}

.Icon--maximise {

  &::after {
    background-position: -7em 0;
  }

  &.Icon--white::after {
    background-position: -7em -1em;
  }

}

.Icon--close {

  &::after {
    background-position: -8em 0;
  }

  &.Icon--white::after {
    background-position: -8em -1em;
  }

}

.Icon--move {

  &::after {
    background-position: -9em 0;
  }

  &.Icon--white::after {
    background-position: -9em -1em;
  }

}
