.Icon::after {
  content: "";
  display: inline-block;
  background: image-url("sprites.svg") no-repeat;
  // Size background vertically, each row of icons is 100%
  background-size: auto 200%;
  width: 1em;
  height: 1em;
}

.Icon--white::after {
  background-position-y: -1em;
}

.Icon--text::after {
  position: relative;
  top: 0.25em;
  margin-left: 16px;
}

.Icon--link::after {
  background-position-x: 0;
}

.Icon--wifi::after {
  background-position-x: -1em;
}

.Icon--clock::after {
  background-position-x: -2em;
}

.Icon--search::after {
  background-position-x: -3em;
}

.Icon--address::after {
  background-position-x: -4em;
}

.Icon--position::after {
  background-position-x: -5em;
}

.Icon--left::after {
  background-position-x: -6em;
}

.Icon--right::after {
  background-position-x: -7em;
}

.Icon--up::after {
  background-position-x: -8em;
}

.Icon--down::after {
  background-position-x: -9em;
}

.Icon--move::after {
  background-position-x: -10em;
}

.Icon--open::after {
  background-position-x: -11em;
}
