.Lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba($palette-gray-80, 0.85);

  &.is-open {
    display: block;
    animation: scaleIn 0.25s;
  }

  &.is-closed {
    animation: scaleOut 0.25s;

    &.is-animating {
      display: block;
    }

  }

}

.Lightbox-close {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  padding: 10px;
  font-size: 36px;
  line-height: 1;
}
