.Notice {
  @extend %base-border-radius;
  border: 2px solid;
  padding: map-get($base-padding, "small");
}

.Notice--error {
  color: $palette-notice-error;
}

.Notice--warning {
  color: $palette-notice-warning;
}

.Notice--success {
  color: $palette-notice-success;
}
