.Notice {
  @extend %base-padding-small;
  @extend %base-border-radius;
  margin-bottom: base-margin("bottom");
  border: 2px solid;
}

.Notice--error {
  color: $palette-notice-error;
}

.Notice--warning {
  color: $palette-notice-warning;
}

.Notice--success {
  color: $palette-notice-success;
}
