.SearchBox {
  @extend %readable-box;
}

.SearchBox-nearby {
  margin-bottom: 40px;

  .no-js & {
    display: none;
  }

}

.SearchBox-label {
  display: block;
  margin-bottom: base-margin("bottom");
}
