.SearchBox {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

.SearchBox-nearby {
  margin-bottom: 40px;
}

.SearchBox-label {
  display: block;
  margin-bottom: base-margin("bottom");
}
