.SlidingDrawer {

  &.is-draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .5s $ease-out-back;
    will-change: transform;
  }

  &.is-closed {
    overflow: hidden;
    transform: translateY(80%);
    transform: translateY(calc(100% - 46px));
  }

  &.is-open {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &.is-active {
    transition: none;
  }

}

.SlidingDrawer-toggle {
  display: none;

  .is-draggable & {
    display: block;
  }

}

.SlidingDrawer-toggleOpen,
.SlidingDrawer-toggleClosed,
.SlidingDrawer-toggleActive {
  display: none;
  overflow: hidden;

  .Icon::after {
    float: right;
  }

}

.SlidingDrawer-toggleOpen {

  .is-open & {
    display: block;
  }

}

.SlidingDrawer-toggleClosed {

  .is-closed & {
    display: block;
  }

}


.SlidingDrawer-toggleActive {

  .is-active & {
    display: block;
  }

}
