.Slideshow {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.Slideshow-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: transform 1s ease;
  will-change: transform;

  &.is-next,
  &.is-prev,
  &.is-current {
    display: block;
  }

  &.is-next {
    transform: translateX(100%);
  }

  &.is-prev {
    transform: translateX(-100%);
  }

  &.is-current {
    transform: translateX(0);
  }

  &.is-active {
    transition: none;
  }

}

.Slideshow-frameContent {
  position: relative;
  top: 50%;
  display: table;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
}

.Slideshow-frameImage {
  display: block;
  max-width: 100%;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;
  will-change: opacity;

  &.is-loaded {
    opacity: 1;
  }

}

.Slideshow-frameCaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(to top, rgba($palette-gray-80, .85) 0, rgba($palette-gray-80, 0) 100%);
  padding: $base-padding;
  padding-top: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.Slideshow-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -25px;
  border: 0;
  background: none;
  padding: $base-padding-small;
  font-size: 32px;
  line-height: 1;
  transition: left 0.25s, right 0.25s;
}

.Slideshow-btn--next {
  right: 0;

  &:hover {
    right: -10px;
  }

}

.Slideshow-btn--prev {
  left: 0;

  &:hover {
    left: -10px;
  }

}

.Slideshow-progress {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;

  // Avoid clashing with image caption
  @media screen and (max-height: 640px) {
    display: none;
  }

}

.Slideshow-progressStep {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
  }

  &.is-current {

    &::after {
      transform: scale(1);
    }

  }

  @include respond-above("large") {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }

}
