$slideshow-img-size: 640px;

.Slideshow {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.Slideshow-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: transform 0.75s ease;
  will-change: transform;
  user-select: none;

  &.is-next,
  &.is-prev,
  &.is-current {
    display: block;
  }

  &.is-next {
    transform: translateX(100%);
  }

  &.is-prev {
    transform: translateX(-100%);
  }

  &.is-current {
    transform: translateX(0);
  }

  &.is-active {
    transition: none;
  }

}

.Slideshow-frameContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  // IE10 baulks at the display: table shrink-wrap hack
  @media screen and (min-width: $slideshow-img-size) {
    display: table;
    margin-right: auto;
    margin-left: auto;
  }

}

.Slideshow-frameWrapper {
  width: $slideshow-img-size;
  background: $palette-gray-80;

  @media screen and (orientation: portrait) and (max-width: $slideshow-img-size) {
    max-width: 100%;
  }

  @media screen and (orientation: landscape) and (max-height: $slideshow-img-size) {
    max-width: 100vh;
  }

}

.Slideshow-frameImage {
  opacity: 0;
  transition: opacity 1s ease;
  will-change: opacity;

  &.is-loaded {
    opacity: 1;
  }

}

.Slideshow-frameCaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;
  background: linear-gradient(to top, rgba($palette-gray-80, 0.85) 0, rgba($palette-gray-80, 0) 100%);
  padding: map-get($base-padding, "medium");
  padding-top: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;

  .is-loaded + & {
    display: block;
  }

}

.Slideshow-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: none;
  margin-top: -25px;
  border: 0;
  background: none;
  padding: map-get($base-padding, "small");
  font-size: 32px;
  line-height: 1;
  transition: left 0.25s, right 0.25s;

  // They don't offer anything on a small screen
  @media screen and (min-height: $slideshow-img-size) {
    display: block;
  }

}

.Slideshow-btn--next {
  right: 0;

  &:hover {
    right: -10px;
  }

}

.Slideshow-btn--prev {
  left: 0;

  &:hover {
    left: -10px;
  }

}

.Slideshow-progress {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  display: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;

  // Avoid clashing with image caption
  @media screen and (min-height: $slideshow-img-size) {
    display: block;
  }

}

.Slideshow-progressStep {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white;

  @include respond-above("large") {
    width: 16px;
    height: 16px;
    margin: 0 8px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
  }

  &.is-current {

    &::after {
      transform: scale(1);
    }

  }

}
